*, *:before, *:after{
  box-sizing: border-box;
}
h1{
    text-align: center;
}

input[type="text"]{
    width: 450px;
    padding: 10px;
    margin: 2% 25%;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
}

.gallery{
  padding: 10px;
}
img {
  padding: 10px;
}

@media (min-width:300px) {
  #images{
    width:50%;
  }
}

@media (min-width:500px) {
  #images{
    width: 75%;
  }
}
